<!DOCTYPE html>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type='text/css' href="../assets/styles/style.css">
  <title>Javascript</title>
</head>

<body onload="pageLoaded()">
  <div class="header">
    <h1 id="main-title" class="container">JavaScript</h1>
  </div>

  <div > Le bon test</div>

    <?xml version="1.0" standalone="no"?>
    <svg width="800" height="600" style="background: transparent" version="1.1" xmlns="http://www.w3.org/2000/svg">

      <rect x="1" y="1" width="400" height="400" stroke="solid blue" fill="transparent" stroke-width="5"/>

      <circle cx="400" cy="300" r="100" stroke="black" fill="transparent" stroke-width="1"/>
      <circle cx="400" cy="300" r="30" stroke="blue" fill="blue" stroke-width="5"/>
      <circle id="lune" cx="400" cy="300" r="5" stroke="red" fill="red" stroke-width="5"/>

    </svg>


    <?xml version="1.0" standalone="no"?>
    <svg width="800" height="600" style="background: transparent" version="1.1" xmlns="http://www.w3.org/2000/svg">

      <rect x="1" y="1" width="400" height="400" stroke="solid blue" fill="transparent" stroke-width="5"/>

      <ellipse cx="400" cy="300" rx=190 ry=140 stroke="black" fill="transparent" stroke-width="1"/>
      <circle id="terre" cx="400" cy="300" r="30" stroke="blue" fill="blue" stroke-width="5"/>
      <circle id="lune2" cx="200" cy="300" r="5" stroke="red" fill="red" stroke-width="5"/>

    </svg>

  </div>

  <script src="astro.js"></script>
  <script src="astroeli.js"></script>

  <script src="scriptTp2.js"></script>


</body>

</html>


