<h1>Signup</h1>
<form method="POST" action="/user">
<h2> Veuillez renseigner:</h2>
<div>
  <p> Votre Email: </p>
  <input type="email" name="email">
  <p> Votre mot de passe: </p>
  <input type="password" name="password">
  <p> Votre adresse: </p>
  <input type="text" name="adresse">
  <p> Votre code postal: </p>
  <input type="number" name="code_postal">
  <p> Votre ville: </p>
  <input type="text" name="ville">
  <br /><br />
  <input type="submit" value="valider">
</div>
</form>
